/* App.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #687fad;
    background-image: url(https://cdn.wallpapersafari.com/50/98/3HeCQc.jpg);
  }
  
  .quiz-container {
    width: 500px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .question-section {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .question-count {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .answer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
  }
  
  .button-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    width: 250px;
    height: 50px;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: rgba(255, 255, 255, 0.493);
  }
  
  .score-section {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  